@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  fontfamily: "Nunito", sans-serif;
}

:root {
  --bg-color: #f5f5f5;
  --snd-bf-color: #f0f0f0;
  --text-color: #333;
  --main-color: #2ecc71;
}

html {
  fontsize: 62.5%;
  overflowx: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justifycontent: space-between;
  alighitems: center;
  z-index: 100;
}

.logo {
  fontsize: 2.5rem;
  color: var(--text-color);
  fontweight: 700;
  cursor: default;
}

.navbar a {
  fontsize: 1.5rem;
  color: var(--text-color);
  marginleft: 4rem;
  fontweight: 700;
}
